In [ ]:
# Data Science Tools and Methods

In [ ]:
This notebook provides an overview of data science tools, languages, and libraries.

In [ ]:
## Data Science Languages
- Python
- R
- SQL
- Julia

In [ ]:
## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn

In [ ]:
## Data Science Tools
| Tool            | Purpose               |
|-----------------|-----------------------|
| Jupyter Notebook| Interactive coding     |
| RStudio         | R development          |
| Apache Spark    | Big data processing    |

In [ ]:
## Arithmetic Expression Examples
Below are examples of basic arithmetic operations like addition and multiplication.

In [1]:
# Multiply and add
result = (3 * 4) + 5
result

17

In [1]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0